<%include partials/header%>



<div class="container">
		<div class="jumbotron mt-5">
			<h1>All your Classes</h1>
			<a class="btn btn-success" href="/classes/new">Add Class</a>
		</div>

	<div class="row">
		<% classes.forEach(function(classitem){ %>
		   	<div class="col-lg-4 mt-3">
			  	<div class="card">
      			<div class="card-body">
        			<h5 class="card-title"><strong><%=classitem.name%></strong></h5>
        			<p class="card-text"><%=classitem.description%></p>
        			<a href="/classes/<%=classitem.id%>" class="btn btn-primary">Learn More!</a>
      			</div>
   				</div>
		   	</div>
		<% }); %>
	</div>
</div>

<%include partials/footer%>