<%include partials/header%>

<div class="container">
	<h1>Create a Class!</h1>
	<form action="/classes" method="POST">
		<input class="d-block" type="text" name="name" placeholder="name">
		<button class="btn btn-success mt-2">Create Class</button>
	</form>
</div>
